---

---

<article class="border p-6 min-h-[160px] flex justify-between flex-col border-gray-200 rounded-2xl">
    <div>
        <div class="flex mb-2 flex-wrap items-center justify-start gap-4">
            <h2 class="text-gray-900 font-semibold">
                Engeeneering Manager
            </h2>
            <span class="px-2 p-1 border text-sm font-medium text-gray-600 border-gray-200 rounded flex items-center gap-2"> <span class="w-2 rounded-full bg-blue-200 h-2 block"></span> Software</span>
            <span class="px-2 p-1 border ml-auto text-sm font-medium text-gray-600 border-gray-200 rounded">Mumbai,India</span>
        </div>
        <p class="leading-normal">We’re looking for an experienced engineering manager to join our team.</p>
    </div>
    <footer class="flex mt-auto text-sm gap-2">
        <span>
            Full-time
        </span>
        <span>$80k - $100k</span>
    </footer>
</article>