---
import FromBlogSection from "@components/sections/blog/from-blog-section.astro";
import FooterLarge from "@components/sections/home/footer-large.astro";
import NewsletterSection from "@components/sections/newsletter-section.astro";
import TrialAdSection from "@components/sections/trial-ad-section.astro";
import AuthorCard2 from "@components/shared/blog/author-card-2.astro";
import Avatar from "@components/ui/avatar.astro";
import PageLayout from "@layout/page-layout.astro";

---

<PageLayout dark>

    <div class="relative w-full bg-gray-900 py-24">
        <section class=" container-main mx-auto relative text-white z-10  pt-24 mb-16 ">
            <header class="w-full  mb-8 flex justify-between   flex-col mx-auto text-center md:w-3/5  relative ">
                <span class="px-2 py-1 text-primary font-semibold mb-3">20 Jan 2024 • 10 min read</span>
                <div class="mb-8">

                    <h2
                    class="xl:text-5xl md:text-4xl text-3xl !leading-snug text-gray-100 font-semibold mb-7"
                    >
                    Roy’s PeakWanaka, New Zealand                </h2>
                    <p class="md:text-xl text-lg text-gray-200">
                        New Zealand is famous for its breathtaking hiking trails that wind and weave their way through its beautiful landscapes.
                    </p>
                </div>
                <div class="flex gap-4 mx-auto mt-auto  ">
                    <Avatar src="https://random.imagecdn.app/100/100"/>
                    <div>
                        <h2 class="text-lg font-semibold text-white">Rene Wells</h2>
                        <h2 class=" text-gray-200">Content Writer</h2>
                    </div>
                </div>
            </header>
        </section>
    </div>
    <div class="container-main md:-mt-20  relative z-20 mt-10">
        <img src="https://random.imagecdn.app/500/1200" class="w-full object-cover md:h-96 h-60"/>
    </div>
    <section class="container-main">
        <div class="h-[900px] p-24">
            //Here comes content
        </div>

        <AuthorCard2/>
    </section>
    <FromBlogSection/>
    <NewsletterSection/>
    <div class="w-full  relative flex-col md:flex-row z-20 md:-bottom-20  "
    >
        <TrialAdSection/>
    </div>
    <FooterLarge/>
</PageLayout>
