---
import FromBlogVertical from "@components/sections/blog/from-blog-vertical.astro";
import FooterLarge from "@components/sections/home/footer-large.astro";
import CopyIcon from "@icons/copy-icon.astro";
import FacebookIcon from "@icons/facebook-icon.astro";
import LinkedinIcon from "@icons/linkedin-icon.astro";
import SendIcon from "@icons/send-icon.astro";
import TwitterIcon from "@icons/twitter-icon.astro";
import PageLayout from "@layout/page-layout.astro";

---

<PageLayout>

    <section class="container-main mt-20 py-24">
        <header class="md:w-3/5 w-full mb-16">
            <span class="px-2 py-2 block w-fit mb-4 rounded-full bg-primary-100 text-primary  text-sm  font-medium">
                <span class="p-1 bg-white border border-primary rounded-full px-2">Leadership</span>
                &nbsp;5 min read &nbsp; 
            </span>
            <h2
            class="xl:text-5xl md:text-4xl text-3xl !leading-snug text-gray-900 font-semibold mb-6"
            >
            Roy’s PeakWanaka, New Zealand
                        </h2>
            <p class="md:text-xl text-lg  text-gray-600">
                New Zealand is famous for its breathtaking hiking trails that wind and weave their way through its beautiful landscapes.
            </p>
        </header>
        <figure class="w-full rounded overflow-hidden mb-8">
            <img class="w-full xl:h-[580px] md:h-96 h-60 object-cover" src="https://random.imagecdn.app/500/1200" alt="">
        </figure>
        <footer class="py-8 flex flex-col md:flex-row md:gap-16 gap-8">
            <div>
                <h4 class="text-primary mb-3 text-sm font-semibold">Written by</h4>
                <p class="font-medium text-gray-600">Alec Whitten</p>
            </div>
            <div>
                <h4 class="text-primary mb-3 text-sm font-semibold">Published on</h4>
                <p class="font-medium text-gray-600">17 Jan 2024</p>
            </div>
            <div class="flex ml-auto md:w-fit w-full gap-4 h-fit">
                <button class="button-outline">
                   <CopyIcon/>        &nbsp; copy link

                </button>
                <button class="button-outline"><FacebookIcon/></button>
                <button class="button-outline"><TwitterIcon/></button>
                <button class="button-outline"><LinkedinIcon/></button>
               </div>

        </footer>
    </section>
    <section class="container-main md:flex-row flex-col pt-12 md:pt-24 flex gap-16">
     
        <div class="h-[900px] flex-1 items-end">
            //Here comes content
        </div>
        <div class="flex flex-col md:w-96 w-full p-8 bg-gray-100 border-2 h-fit border-gray-300 rounded-lg">
            <button class="button-outline mb-8 w-fit">
                <SendIcon />
            </button>
            <h3 class="text-xl font-semibold mb-2">Weekly newsletter</h3>
            <p class="text-gray-600 mb-8">No spam. Just the latest releases and tips, interesting articles, and exclusive interviews in your inbox every week.</p>
            <input class="mb-2 " placeholder="Enter your email" />
            <p class="text-xs ml-2 text-gray-600 mb-4 font-medium">We care about your data in our <a href="/privacy">privacy policy</a>. </p>
            <button class="button-primary w-full">Subscribe</button>
        </div>
    </section>
    <FromBlogVertical/>
    <FooterLarge/>
</PageLayout>