---
interface Props  {
    className?:string;
    largeImage?:boolean;
    title: string
date: string
imageSrc: string
altText: string
description: string
tags: string[]
}

import Chip from "../../ui/chip.astro"

const {className,title,largeImage=false,date,altText,description,imageSrc,tags} = Astro.props;
---

<article class:list={["flex flex-col",className]}>
    <figure class="rounded overflow-hidden mb-6 w-full">
        <img class:list={["max-h-[500px] h-60 transition-all bg-gray-200 w-full object-cover hover:scale-100 scale-105",largeImage?'h-96':'']} src={imageSrc} alt={altText}>
    </figure>
    <header>
        <h3 class="font-semibold text-primary text-xs mb-2">{title } • { date }</h3>
        <div class="flex justify-between mb-2">
            <h2 class="text-2xl font-semibold text-gray-900">{ description }</h2>
        </div>
        <p class="text-gray-600 mb-4 font-medium">{description }</p>
        <div class="flex gap-4">
            {tags&&tags.map(tag=><Chip color="blue">{tag}</Chip>)}
        </div>
    </header>
</article>
