<section
    class="container-main flex items-center py-24 md:gap-12 ga-4 flex-col md:flex-row"
>
    <header class="w-full flex-1 mx-auto mb-16">
        <span class="px-2 py-1 text-gray- font-medium block mb-3">Support</span>
        <div class="md:flex-row items-end flex-col">
            <h2
                class="xl:text-5xl flex-[2] md:text-4xl text-3xl leading-snug text-gray-900 font-semibold mb-7"
            >
                No long-term contracts.No catches.
            </h2>
            <p class="md:text-xl text-lg flex-1 text-gray-600">
                Start your 30-day free trial today.
            </p>
        </div>
        <div class='mt-12 mb-16 flex md:flex-row flex-col  gap-4'>
            <button class='button-outline button-large'>
                Learn More
            </button>
            <button class='button-primary button-large'>
                Get started
            </button>
         </div>    </header>
    <figure class="flex-1 md:pl-12 md:h-auto h-96">
        <img src="/assets/images/contract-image.png" />
    </figure>
</section>
