<div class="bg-gray-100 w-full">
    <section class="container-main mx-auto py-[96px] items-center flex-col flex justify-center">
        <header class="text-center md:w-3/5 mb-10 w-full">
            <h2 class="text-4xl text-gray-900 font-semibold mb-5">We’ll send you a nice letter once per week</h2>
            <p class="text-gray-600 md:text-xl text-lg">
                No spam. Just the latest releases and tips, interesting articles,
                and exclusive interviews with great people.
            </p>
        </header>   
        <main class="md:w-fit w-full ">
            <div class="md:w-fit w-full">
                <div class="flex flex-col md:flex-row mb-1 gap-4">
                    <input class="md:w-72" placeholder="Enter your email" />
                    <button class="button-primary">Subscribe</button>
                </div>
                <p class="text-sm text-gray-600 font-medium">We care about your data in our <a href="">privacy policy</a>. </p>
            </div>
        </main>
    </section>
</div>
