---
type Props = {
    dark?:boolean
}

---
<section class={("container-main max-w-7xl mx-auto gap-12 relative flex-col md:flex-row z-20  justify-between flex bg-gray-50 shadow rounded-2xl md:p-16 p-8")}>

<main>
    <h2 class="text-3xl font-semibold mb-2">
        Start your 30-day free trial
    </h2>
    <p class="text-xl text-gray-600">
        Join over 4,000+ startups already growing with Untitled.
    </p>
</main>
<div class="flex gap-4 h-fit md:flex-row flex-col ">
    <button class="button-outline md:button-large whitespace-nowrap">Learn More</button>
    <button class="button-primary md:button-large whitespace-nowrap">Get started</button>
</div>
</section>