---
import FromBlogVertical from "@components/sections/blog/from-blog-vertical.astro";
import HeroSection from "@components/sections/blog/hero-section.astro";
import CtaSection from "@components/sections/home/cta-section.astro";
import FooterLarge from "@components/sections/home/footer-large.astro";
import BlogCardHorizontal from "@components/shared/blog/blog-card-horizontal.astro";
import PageLayout from "@layout/page-layout.astro";
const categories = ["Design", "Product", "Software Development", "Customer Success"];

export const articles = [
    {
        title: "UX review presentations",
        date: "20 Jan 2024",
        imageSrc: "https://random.imagecdn.app/500/400",
        altText: "Image Alt Text 1",
        description: "How do you create compelling presentations that wow your colleagues and impress your managers?",
        tags: ["marketing", "design", "presentation"]
    },
    {
        title: "Web Development Best Practices",
        date: "15 Feb 2024",
        imageSrc: "https://random.imagecdn.app/500/400",
        altText: "Image Alt Text 2",
        description: "Learn the latest best practices in web development to build fast and efficient websites.",
        tags: ["web development", "frontend", "performance"]
    },
    {
        title: "Cooking Tips and Recipes",
        date: "10 Mar 2024",
        imageSrc: "https://random.imagecdn.app/500/400",
        altText: "Image Alt Text 3",
        description: "Discover new cooking tips and delicious recipes from around the world.",
        tags: ["cooking", "recipes", "food"]
    },
    {
        title: "Web Development Best Practices",
        date: "15 Feb 2024",
        imageSrc: "https://random.imagecdn.app/500/400",
        altText: "Image Alt Text 2",
        description: "Learn the latest best practices in web development to build fast and efficient websites.",
        tags: ["web development", "frontend", "performance"]
    },
    {
        title: "Web Development Best Practices",
        date: "15 Feb 2024",
        imageSrc: "https://random.imagecdn.app/500/400",
        altText: "Image Alt Text 2",
        description: "Learn the latest best practices in web development to build fast and efficient websites.",
        tags: ["web development", "frontend", "performance"]
    },
    {
        title: "Cooking Tips and Recipes",
        date: "10 Mar 2024",
        imageSrc: "https://random.imagecdn.app/500/400",
        altText: "Image Alt Text 3",
        description: "Discover new cooking tips and delicious recipes from around the world.",
        tags: ["cooking", "recipes", "food"]
    },
];
---

<PageLayout>
    <HeroSection/>
    <section class="container-main mx-auto">
        
        <select class="md:hidden block" >
            {categories.map(category=><option selected value={category}  >{category}</option>)}
        </select>
        
                <div class="md:flex hidden  gap-4">
                    {categories.map(category=><button class="button-secondary hover:bg-primary-100 hover:text-primary">{category}</button>)}
                </div>
                <main class="grid md:grid-cols-2 py-12  grid-cols-1 md:gap-12 gap-8 ">
                    {articles.map(article=><BlogCardHorizontal className='col-span-1' {...article}/>)}
                </main>
            </section>
            <FromBlogVertical/>
            <CtaSection/>
            <FooterLarge/>
</PageLayout>