---
import FooterLarge from "../components/sections/home/footer-large.astro";
import PageLayout from "../layout/page-layout.astro";

---

<PageLayout >
    <section class=" bg-primary text-white container-main mx-auto relative  z-10 mt-20  pt-24 mb-16 ">
        <header class="w-full mx-auto mb-16 text-center md:w-3/5">
        <span class="px-2 py-1 text-primary  font-semibold mb-3">Privacy Policy</span>
        <h2 class="xl:text-5xl md:text-4xl text-3xl leading-snug  font-semibold mb-7">
            We care about your privacy    </h2>
            <p class="md:text-xl text-lg text-gray-200">
                Your privacy is important to us at Untitled. We respect your privacy regarding any information we may collect from you across our website.        </p>
    </header>
    <main class="md:w-fit mx-auto w-full ">
        <div  class="px-2 py-1 mb-8  border border-white w-fit mx-auto gap-2 flex rounded-lg">
        <button class="button-secondary bg-white text-primary">Light</button>
        <button class="button text-gray-200">Legal</button>
    </div>
    </main>
</section>
<section class="container-main ">
    <article class="my-10 w-full mx-auto md:w-3/5">
        <header>
            <h2 class="md:text-3xl text-gray-900 mb-5 font-semibold">What information do we collect?</h2>
        </header>
        <p class="text-gray-600 mb-2">
            Dolor enim eu tortor urna sed duis nulla. Aliquam vestibulum, nulla odio nisl vitae. In aliquet pellentesque aenean hac vestibulum turpis mi bibendum diam. Tempor integer aliquam in vitae malesuada fringilla.
        </p>
        <p class="text-gray-600 mb-2">

            Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur convallis risus. Sed condimentum enim dignissim adipiscing faucibus consequat, urna. Viverra purus et erat auctor aliquam. Risus, volutpat vulputate posuere purus sit congue convallis aliquet. Arcu id augue ut feugiat donec porttitor neque. Mauris, neque ultricies eu vestibulum, bibendum quam lorem id. Dolor lacus, eget nunc lectus in tellus, pharetra, porttitor.<br/>
        </p>
        <p class="text-gray-600 mb-2">
            Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem tempor. Diam elit, orci, tincidunt aenean tempus. Quis velit eget ut tortor tellus. Sed vel, congue felis elit erat nam nibh orci.
        </p>
    </article>
</section>
<section class="container-main ">
    <article class="my-10 w-full mx-auto md:w-3/5">
        <header>
            <h2 class="md:text-3xl text-gray-900 mb-5 font-semibold">What information do we collect?</h2>
        </header>
        <p class="text-gray-600 mb-2">
            Dolor enim eu tortor urna sed duis nulla. Aliquam vestibulum, nulla odio nisl vitae. In aliquet pellentesque aenean hac vestibulum turpis mi bibendum diam. Tempor integer aliquam in vitae malesuada fringilla.
        </p>
        <p class="text-gray-600 mb-2">

            Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur convallis risus. Sed condimentum enim dignissim adipiscing faucibus consequat, urna. Viverra purus et erat auctor aliquam. Risus, volutpat vulputate posuere purus sit congue convallis aliquet. Arcu id augue ut feugiat donec porttitor neque. Mauris, neque ultricies eu vestibulum, bibendum quam lorem id. Dolor lacus, eget nunc lectus in tellus, pharetra, porttitor.<br/>
        </p>
        <p class="text-gray-600 mb-2">
            Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem tempor. Diam elit, orci, tincidunt aenean tempus. Quis velit eget ut tortor tellus. Sed vel, congue felis elit erat nam nibh orci.
        </p>
    </article>
</section>

<FooterLarge/>
</PageLayout>