---
import Logo from "../../ui/logo.astro";
---

<section class="container-main py-[96px] items-center flex-col flex justify-center">
    <div class="mb-8"><Logo /></div>
    <header class="text-center md:w-3/5 mb-10 w-full">
        <h2 class="text-4xl text-gray-900 font-semibold mb-5">
            Let’s get started on something great
        </h2>
        <p class="text-gray-600 text-xl">
            Join over 4,000+ startups already growing with Untitled.
        </p>
    </header>
    <main class="w-full ">
        <div class="flex flex-col md:flex-row md:w-fit mx-auto w-full gap-4">
            <button class="button-secondary">View Demo</button>
            <button class="button-primary">Get started</button>
        </div>
    </main>
</section>
