---

---

<section class="container-main">
    <div class="rounded-lg gap-8 flex items-center py-8 flex-col text-center bg-gray-50 ">
        <div>
            <img class="h-16" src="/group-avatar.png" alt="" />
        </div>
        <main >
            <h2 class="md:text-xl text-lg font-semibold text-gray-900">Still have questions?</h2>
            <p class="text-gray-600 md:text-lg font-normal">
                Can’t find the answer you’re looking for? Please chat to our
                friendly team.
            </p>
        </main>
        <div>
            <button class="button-primary">Get in Touch</button>
        </div>
    </div>
</section>
