
<div class="relative container-main">

    <img class='absolute top-0 left-0 z-0  w-full h-full'  src="/assets/images/background-pattern.svg" alt="" />
    <section class=" mt-20 relative z-10  py-24  min-h-screen ">
        <h1 class='md:w-4/5 w-full md:text-6xl text-4xl mb-6 font-semibold leading-tight'>We design digital experiences that create more happy in the world</h1>
       <p class='md:text-xl text-lg text-gray-600 xl:w-2/5 md:w-3/5 w-full '>— We’re a full-service design and development agency who specialise in simple, useful and beautiful solutions.</p>
     <div class='mt-12 mb-16 flex md:flex-row flex-col  gap-4'>
        <button class='button-outline button-large'>
            Show Reel
        </button>
        <button class='button-primary button-large'>
            Get in touch
        </button>
     </div>
     <div class='w-full rounded-md bg-[url("/assets/images/hero-image.png")] h-60 md:h-96 xl:h-[516px] bg-no-repeat bg-bottom bg-cover' ></div>
    </section>
</div>
