---
import TeamPerson from '@shared/team/team-person.astro'
---

<section class="container-main gap-12 grid xl:grid-cols-12 md:grid-cols-8 grid-cols-4">
    <TeamPerson className="xl:col-span-3 md:col-span-4 col-span-4"/>
    <TeamPerson className="xl:col-span-3 md:col-span-4 col-span-4"/>
    <TeamPerson className="xl:col-span-3 md:col-span-4 col-span-4"/>
    <TeamPerson className="xl:col-span-3 md:col-span-4 col-span-4"/>
    <TeamPerson className="xl:col-span-3 md:col-span-4 col-span-4"/>
    <TeamPerson className="xl:col-span-3 md:col-span-4 col-span-4"/>
    <TeamPerson className="xl:col-span-3 md:col-span-4 col-span-4"/>
    <TeamPerson className="xl:col-span-3 md:col-span-4 col-span-4"/>
</section>