---
type Props = {
    dark?:boolean;
    title?:string;
}

import { ViewTransitions } from "astro:transitions";
import Navbar from "@components/shared/navbar.astro";
import "@styles/global.css";
const { title,dark=false } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="flex justify-center flex-col items-center">
        <ViewTransitions transition:animate={"initial"} />
        <Navbar dark={dark} />
        <slot />
    </body>
</html>
